@{
    ViewData["Title"] = "Asian Recipes";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Asian Recipes</h2>
        <p class="text-center">A journey through Asian flavors.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/asian1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Sushi</h5>
                        <p>Fresh and expertly rolled.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/asian2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Pad Thai</h5>
                        <p>Savory noodles with a touch of sweetness.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/asian3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Dumplings</h5>
                        <p>Steamed or fried, always delightful.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
