@{
    ViewData["Title"] = "Brunch Favorites";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Brunch Favorites</h2>
        <p class="text-center">Delightful dishes for lazy mornings.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/brunch1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Eggs Benedict</h5>
                        <p>Rich hollandaise and perfectly poached eggs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/brunch2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Avocado Toast</h5>
                        <p>Healthy and delicious.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/brunch3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">French Toast</h5>
                        <p>Sweet, golden, and fluffy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
