@{
    ViewData["Title"] = "Casseroles & Bakes";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Casseroles & Bakes</h2>
        <p class="text-center">Warm, hearty meals for the whole family.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/casserole1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Lasagna</h5>
                        <p>Classic Italian comfort food.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/casserole2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Shepherd's Pie</h5>
                        <p>Rich and savory, perfect for cold nights.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/casserole3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mac & Cheese</h5>
                        <p>Cheesy and delicious for all ages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
