@{
    ViewData["Title"] = "Cookies & Bars";
}
@section MainContent {
    <section class="recipe-category">
        <div class="container">
            <h2 class="text-center">Cookies & Bars</h2>
            <p class="text-center">Perfectly baked cookies and delightful bars for any time of the day.</p>
            <div class="row justify-content-center">
                <!-- Tarjeta 1 -->
                <div class="col-md-4">
                    <div class="card position-relative">
                        <img src="~/img/recipes/cookies1.jpg" alt="Chocolate Chip Cookies" class="card-img-top">
                        <button class="favorite-btn">
                            <i class="bi bi-heart"></i>
                        </button>
                        <div class="card-body">
                            <h5 class="card-title">Chocolate Chip Cookies</h5>
                            <p class="card-text">Crispy edges with gooey chocolate centers.</p>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta 2 -->
                <div class="col-md-4">
                    <div class="card position-relative">
                        <img src="~/img/recipes/bars1.jpg" alt="Lemon Bars" class="card-img-top">
                        <button class="favorite-btn">
                            <i class="bi bi-heart"></i>
                        </button>
                        <div class="card-body">
                            <h5 class="card-title">Lemon Bars</h5>
                            <p class="card-text">Tangy lemon filling with a buttery shortbread crust.</p>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta 3 -->
                <div class="col-md-4">
                    <div class="card position-relative">
                        <img src="~/img/recipes/cookies2.jpg" alt="Oatmeal Raisin Cookies" class="card-img-top">
                        <button class="favorite-btn">
                            <i class="bi bi-heart"></i>
                        </button>
                        <div class="card-body">
                            <h5 class="card-title">Oatmeal Raisin Cookies</h5>
                            <p class="card-text">Chewy cookies packed with oats and sweet raisins.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}