@{
    ViewData["Title"] = "Family Favorites";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Family Favorites</h2>
        <p class="text-center">Meals everyone in the family will love.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/family1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Homemade Pizza</h5>
                        <p>Customizable and always a hit!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/family2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Classic Meatloaf</h5>
                        <p>A traditional favorite with a modern twist.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/family3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Chicken Alfredo</h5>
                        <p>Rich, creamy, and comforting.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
