@{
    ViewData["Title"] = "5 Ingredients or Less";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">5 Ingredients or Less</h2>
        <p class="text-center">Simple and delicious recipes with only 5 ingredients.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/5ingredients1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Avocado Toast</h5>
                        <p>Quick, healthy, and trendy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/5ingredients2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Grilled Cheese Sandwich</h5>
                        <p>A gooey, comforting classic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/5ingredients3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Banana Smoothie</h5>
                        <p>Refreshing and naturally sweet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
