@{
    ViewData["Title"] = "Gluten-Free Recipes";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Gluten-Free Recipes</h2>
        <p class="text-center">Delicious meals for gluten-sensitive diets.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/glutenfree1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Quinoa Salad</h5>
                        <p>Light and full of nutrients.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/glutenfree2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Gluten-Free Pancakes</h5>
                        <p>Fluffy and perfect for breakfast.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/glutenfree3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Baked Chicken</h5>
                        <p>Simple, savory, and satisfying.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
