@{
    ViewData["Title"] = "Italian Recipes";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Italian Recipes</h2>
        <p class="text-center">Authentic flavors from Italy.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/italian1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Margherita Pizza</h5>
                        <p>Simple, fresh, and delicious.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/italian2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Risotto</h5>
                        <p>Creamy and perfectly cooked rice.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/italian3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Tiramisu</h5>
                        <p>A classic dessert with coffee and cream.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
