@{
    ViewData["Title"] = "Low-Carb Recipes";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Low-Carb Recipes</h2>
        <p class="text-center">Healthy and delicious meals with fewer carbs.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/lowcarb1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Zucchini Noodles</h5>
                        <p>Light and refreshing pasta alternative.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/lowcarb2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Grilled Salmon</h5>
                        <p>Rich in flavor and packed with protein.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/lowcarb3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Stuffed Bell Peppers</h5>
                        <p>Wholesome and satisfying.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
