@{
    ViewData["Title"] = "Mexican Recipes";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Mexican Recipes</h2>
        <p class="text-center">Experience the bold and vibrant flavors of Mexico.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/mexican1.jpg" alt="Tacos" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Tacos al Pastor</h5>
                        <p>Juicy pork tacos with pineapple, perfect for any occasion.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/mexican2.jpg" alt="Enchiladas" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Chicken Enchiladas</h5>
                        <p>Soft tortillas filled with chicken and topped with red sauce.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/mexican3.jpg" alt="Guacamole" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Fresh Guacamole</h5>
                        <p>Creamy and delicious, perfect as a dip or topping.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
