@{
    ViewData["Title"] = "One-Pot Dishes";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">One-Pot Dishes</h2>
        <p class="text-center">Minimal cleanup, maximum flavor!</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/onepot1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Beef Stew</h5>
                        <p>Hearty and comforting.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/onepot2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Chicken and Rice</h5>
                        <p>Simple, flavorful, and easy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/onepot3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Vegetable Curry</h5>
                        <p>Aromatic and packed with veggies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
