@{
    ViewData["Title"] = "Party Plates";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Party Plates</h2>
        <p class="text-center">Snacks and appetizers for your next party.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/party1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Buffalo Wings</h5>
                        <p>Spicy, tangy, and addictive.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/party2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Cheese Platter</h5>
                        <p>A variety of cheeses and accompaniments.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/party3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mini Sliders</h5>
                        <p>Small, delicious burgers for everyone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
