@{
    ViewData["Title"] = "Roasts & Grills";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Roasts & Grills</h2>
        <p class="text-center">Perfect for weekend gatherings.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/roast1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Grilled Steak</h5>
                        <p>Juicy and perfectly cooked.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/roast2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Roast Chicken</h5>
                        <p>Golden and crispy on the outside.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/roast3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">BBQ Ribs</h5>
                        <p>Tender, smoky, and finger-licking good.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
