@{
    ViewData["Title"] = "Soups & Stews";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Soups & Stews</h2>
        <p class="text-center">Warm, comforting bowls of goodness.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/soup1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Chicken Noodle Soup</h5>
                        <p>A classic favorite for cozy evenings.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/soup2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Beef Stew</h5>
                        <p>Rich and hearty, packed with flavors.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/soup3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Tomato Basil Soup</h5>
                        <p>Perfectly creamy and tangy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
