@{
    ViewData["Title"] = "30-Minute Meals";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">30-Minute Meals</h2>
        <p class="text-center">Quick and delicious meals ready in just 30 minutes!</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/30min1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Spaghetti Carbonara</h5>
                        <p>A classic Italian dish ready in no time.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/30min2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Chicken Stir Fry</h5>
                        <p>Healthy, quick, and loaded with veggies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/30min3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Tacos al Pastor</h5>
                        <p>Flavorful tacos that are easy to make!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
