@{
    ViewData["Title"] = "Vegan & Vegetarian";
}

<section class="recipe-category">
    <div class="container">
        <h2 class="text-center">Vegan & Vegetarian</h2>
        <p class="text-center">Delicious plant-based recipes for every occasion.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/vegan1.jpg" alt="Recipe 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Vegan Burger</h5>
                        <p>Juicy, flavorful, and completely plant-based.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/vegan2.jpg" alt="Recipe 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Vegetable Stir-Fry</h5>
                        <p>Bright and vibrant veggies with a savory sauce.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/img/recipes/vegan3.jpg" alt="Recipe 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Chickpea Curry</h5>
                        <p>Rich and spiced with creamy coconut milk.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
