@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent {

    <div class="container">
        <h2 class="text-center my-5">Your Favorite Recipes</h2>
        <p class="text-center">Here is where your saved favorite recipes will appear.</p>
    </div>


}