@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grupo 7</h1>
    <h1 class="display-4">...</h1>
    <p>Ricardo Esteban Alfaro Chavarría</p>
    <p>Gabriel Antonio Amador Artavia</p>
    <p>Alexander Jesús Viquez Ulate</p>
    <p>Javier Romero González</p>
    <p>Sebastián Cruz Ospina</p>
</div>
