@model List<TastyNet.Models.RecipesALL>

@{
    var nombreUsuario = "Guest";
    var Correo = "...";

    if (Context.Session.GetString("UserName") != null)
    {
        nombreUsuario = Context.Session.GetString("UserName");
    }

    if (Context.Session.GetString("UserEmail") != null)
    {
        Correo = Context.Session.GetString("UserEmail");
    }
}

@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<h2>Recetas</h2>

