@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Recupera tu cuenta.</h1>
</div>

<!-- Recover Account Section -->
<section id="recover" class="contact section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <!-- Información adicional -->
        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-5">
                <div class="col-lg-12 text-center">
                    <h2>...</h2>
                    <p>Por favor, ingresa tu correo electrónico para recuperar tu contraseña.</p>
                </div>
            </div>
        </div>

        <!-- Recover Form -->
        <form action="forms/recover.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
            <div class="row gy-4 d-flex justify-content-center">

                <div class="col-md-8">
                    <input type="email" name="email" class="form-control" style="max-width: 400px; margin: 0 auto;" placeholder="Correo Electrónico" required="">
                </div>

                <div class="col-md-12 text-center">
                    <button type="submit" style="max-width: 200px; margin: 0 auto;">Recuperar</button>
                </div>

            </div>

            <div class="row text-center mt-4">
                <div class="col-md-12">
                    <p>¿Recordaste tu contraseña? <a asp-area="" asp-controller="Home" asp-action="Login">Inicia sesión aquí</a></p>
                </div>
            </div>

        </form><!-- End Recover Form -->

    </div>

</section><!-- /Recover Account Section -->
