@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Sign Up</h1>
</div>

<!-- Register Section -->
<section id="register" class="contact section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <!-- Additional Information -->
        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-5">
                <div class="col-lg-12 text-center">
<<<<<<< HEAD
                    <h2>Create an account</h2>
                    <p>Please, complete the following information to register.</p>
=======
                    <h2>Create an Account</h2>
                    <p>Please fill out the following details to register.</p>
>>>>>>> c18dab68d8f32c08e12f49182ae579f79d5e3b36
                </div>
            </div>
        </div>

        <!-- Register Form -->
        <form action="forms/register.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
            <div class="row gy-4 d-flex justify-content-center">

                <div class="col-md-8">
                    <input type="text" name="fullname" class="form-control" style="max-width: 400px; margin: 0 auto;" placeholder="Full Name" required="">
                </div>

                <div class="col-md-8">
                    <input type="email" class="form-control" name="email" style="max-width: 400px; margin: 0 auto;" placeholder="Email Address" required="">
                </div>

                <div class="col-md-8">
                    <input type="password" class="form-control" name="password" style="max-width: 400px; margin: 0 auto;" placeholder="Password" required="">
                </div>

                <div class="col-md-8">
                    <input type="password" class="form-control" name="confirm-password" style="max-width: 400px; margin: 0 auto;" placeholder="Confirm Password" required="">
                </div>

                <div class="col-md-12 text-center">
<<<<<<< HEAD
                    <button type="submit" style="max-width: 200px; margin: 0 auto;">Register</button>
=======
                    <button type="submit" style="max-width: 200px; margin: 0 auto;">Sign Up</button>
>>>>>>> c18dab68d8f32c08e12f49182ae579f79d5e3b36
                </div>

            </div>

            <div class="row text-center mt-4">
                <div class="col-md-12">
<<<<<<< HEAD
                    <p>¿Don't have an account? <a asp-area="" asp-controller="Home" asp-action="Login">Login here</a></p>
=======
                    <p>Already have an account? <a asp-area="" asp-controller="Home" asp-action="Login">Login here</a></p>
>>>>>>> c18dab68d8f32c08e12f49182ae579f79d5e3b36
                </div>
            </div>

        </form><!-- End Register Form -->

    </div>

</section><!-- /Register Section -->
